.check-availability {
	.form-control,
	.form-select {
		color: var(--bs-dark) !important;
	}
}
.font-18{
	font-size: 18px;
}
p.text-capitalize.text-start.mb-1.mb-0.text-light{
	position: absolute;
  bottom: -90px;
}
