.about-content {
	text-align: justify;
	img.shape-outside {
		width: 350px;
		height: 350px;
		border-radius: 47% 53% 38% 62% / 54% 73% 27% 46%;
		object-fit: cover;
		object-position: center;
		display: block;
		@media (min-width: 992px) {
			margin-top: 100px;
			margin-left: 60px;
			float: left;
			shape-outside: polygon(
				38.55% 13.1%,
				54.15% 17.65%,
				70% 21.1%,
				82.7% 30.3%,
				90.5% 40.65%,
				92.2% 41.95%,
				97.05% 51.4%,
				101.2% 57%,
				104.15% 62.6%,
				104.9% 71.2%,
				102.2% 80.65%,
				103.15% 81.3%,
				91.2% 95.9%,
				67.55% 100.85%,
				46.35% 100.2%,
				19.75% 92.9%,
				3.9% 75.25%,
				-0.5% 62.6%,
				-0.5% 56.75%,
				3.4% 27.75%,
				9px 46px
			);
		}
	}
}
