#CarouselSlide {
	.carousel-inner {
		.carousel-item {
			img.carousel-item-img {
				width: 100%;
				height: 100vh;
				object-fit: cover;
				object-position: center;
			}
			.carousel-caption {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
				text-align: left;
				padding-left: calc(var(--sidebar-width) + var(--theme-gutter-x) * 5);
				padding-right: var(--sidebar-width);
				background: linear-gradient(90deg, rgba(2, 0, 36, 0.5) 0%, rgba(0, 0, 0, 0.1) 100%);

				@media (max-width: 992px) {
					padding: 35px !important;
				}

				.caption-title {
					font-family: 'Alfa Slab One', cursive;
                    animation: trans__late 1s 1 cubic-bezier(0.47, 0.14, 0, 1.03);
				}
				.caption-desc {
                    animation: trans__late 1.5s 1 cubic-bezier(0.47, 0.14, 0, 1.03);
				}
			}
		}
	}
}

@keyframes trans__late {
	from {
		transform: translate(100px);
		-webkit-transform: translate(100px);
		-moz-transform: translate(100px);
		-ms-transform: translate(100px);
		-o-transform: translate(100px);
	}
	to {
		transform: translate(0px);
		-webkit-transform: translate(0px);
		-moz-transform: translate(0px);
		-ms-transform: translate(0px);
		-o-transform: translate(0px);
	}
}
