.select-table-input {
	.selected-table-icon {
		display: none;
	}

	&:checked ~ .selected-table-icon {
		display: block !important;
	}
}

.food-package {
	cursor: pointer;
	.selected-icon {
		display: none;
	}
	.food-package-input {
		&:checked ~ .selected-icon {
			display: block !important;
		}
	}
}

.col-form-label {
	--bs-text-opacity: 1;
	color: rgba(var(--bs-light-rgb),var(--bs-text-opacity)) !important;
}
